<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="appDrawer.toggle()">menu</mat-icon>
    </button>
    <h1>Tortoise Analytics</h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="side" opened>
    <mat-nav-list>
      <app-sidebar *ngFor="let item of navItems" [item]="item"></app-sidebar>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
  <div fxFlex></div>
</mat-sidenav-container>
